WebApp/Connected Services/ExamenService/AppService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsApiexamen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsApiexamen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="App">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idExamen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="App" nillable="true" type="tns:App" />
  <xs:complexType name="ArrayOfApp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="App" nillable="true" type="tns:App" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApp" nillable="true" type="tns:ArrayOfApp" />
</xs:schema>