WebApp/Connected Services/ExamenReference/AppService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49579/AppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsApiexamen" />
  <xs:element name="AgregarExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WsApiexamen" minOccurs="0" name="app" nillable="true" type="q1:App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarExamenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WsApiexamen" minOccurs="0" name="app" nillable="true" type="q2:App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarExamenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WsApiexamen" minOccurs="0" name="app" nillable="true" type="q3:App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarExamenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcontacto" type="xs:int" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WsApiexamen" minOccurs="0" name="ConsultarExamenResult" nillable="true" type="q4:App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarExamenes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="mostrarExamenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WsApiexamen" minOccurs="0" name="mostrarExamenesResult" nillable="true" type="q5:ArrayOfApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>